<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Portfolio</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
          
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/siwarhkimi/v2.git">
                  <figure class="cc-effect"><img src="assets/images/cmms.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Thesis Project</div>
                      <p>CMMS</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/siwarhkimi/MASHBank.git">
                  <figure class="cc-effect"><img src="assets/images/project-2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Legacy Project</div>
                      <p>MASH Bank</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://github.com/siwarhkimi/OSA-bank-simulator.git">
                  <figure class="cc-effect"><img src="assets/images/project-3.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Grennfield Project</div>
                      <p>OSA Bank</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="assets/images/project-1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">MVP Project</div>
                      <p>Make Up Filter</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div> 
  </div>
</div>
