
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>02.2020 - 08.2020</p>
            <div class="h5">RBK Certificate</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Full Stack Javascript Web Developer</div>
            <p class="category">Technopole El Ghazela</p>
            <p>I recently obtained a certificate as a full stack web developer from RBK which is an intensive coding bootcamp where you learn how to build website, mobile applications as well as desktop applications using Javascript language in an environment similar to the work environment. I worked on reposatories as pairs for sprint of two days for a period of five months. Besides, in the immersive phase I build four projects. One solo, and three in groups. Also I have the chance to be a Scrum master for the OSA Bank project for group of three members. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2015 - 2017</p>
            <div class="h5">Master's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Master In Harmonic Analysis</div>
            <p class="category">Faculty f science of Tunis</p>
            <p>I obtained my master degree in applied mathematics speciality Harmonic Analysis. My thesis was about the uncertainty principles for the short-time Fourier transform</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012 - 2015</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Applied Mathematics</div>
            <p class="category">Faculty f science of Tunis</p>
            <p>I obtained my bachelor degree in applied mathematics. I graduated in 2015.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012</p>
            <div class="h5">Baccalaureate Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Mathematics</div>
            <p class="category">High School of Bardo</p>
            <p>I have studied mathematics as a major for my last year in high school and I graduated in 2012 with 16.99.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
